@font-face {
  font-family: "HelveticaNeue";
  src: url("./fonts/HelveticaNeue.ttc");
  src: url("../fonts/HelveticaNeue-01.ttf");
  src: url("../fonts/HelveticaNeue-Bold-02.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  font-family: "HelveticaNeue", sans-serif;
}

.wrapper {
  display: flex;
}

main {
  flex: 1;
}

.right {
  min-height: 100vh;
  width: 40%;
  background-color: #fff;
}

.btn {
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.btn-icon {
  height: 20px;
  width: 27px;
  color: #2e2e2e;
}
.head-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 100%;
  padding-top: 5rem;
  vertical-align: text-top;
  display: inline-block;
}
.page-num {
  color: #1a1a1a;
  font-size: 1.8rem;
  font-weight: 400;
  padding-top: 5rem;
}
.container {
  margin: 0 auto;
  max-width: 80rem;
}

.line {
  border-bottom: 1px solid #1a1a1a;
  padding-top: 1rem;
}

/* cta */

.cta-form-full {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  padding-top: 6rem;
  font-size: 1.6rem;
}
.full-name {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.name label,
.surname label,
.image-upload label,
.email label,
.about-me-f label,
.number label {
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: rgba(46, 46, 46, 1);
}

.name input,
.surname input,
.email input,
.number input,
.about-me-f textarea {
  border: 1px solid rgba(188, 188, 188, 1);
  border-radius: 8px;
  margin-top: 1rem;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}

.name p,
.surname p,
.email p,
.number p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #2e2e2e;
}
.name,
.surname {
  flex: 0 1 400px;
}

#fileInput {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #0e80bf;
}
.about-me-f input {
  width: 100%;
  height: 15rem;
  padding: 12px 20px;
  margin: 8px 0;
}

.cta-form-contact {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.next-btn {
  display: flex;
  justify-content: flex-end;
}

.next {
  font-size: 16px;
  font-weight: 500;
  background-color: #6b40e3;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 12px 35px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
aside {
  position: relative;
}
.l-logo {
  position: absolute;
  left: 5rem;
  bottom: 5rem;
}

form {
  position: relative;
}

span {
  position: absolute;
  right: 1.5rem;
  top: 4rem;
  color: red;
}

.position {
  position: relative;
}

.icon-warning {
  color: #ff0000;
}
.icon-check {
  color: #0ea300;
}

/* aside part */
aside {
  position: relative;
}
.section-info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 5rem 5rem;
}

.aside-full--name {
  color: #f93b1d;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.mail {
  color: #1a1a1a;
  font-size: 1.6rem;
  font-weight: 400;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.phone {
  color: #1a1a1a;
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.about {
  align-self: center;
  font-size: 1.6rem;
  color: #f93b1d;
  font-weight: 700;
}
.aside-title {
  font-size: 1.6rem;
  color: #f93b1d;
  font-weight: 700;
}
.about-me {
  font-size: 1.2rem;
  font-weight: 400;
  color: #000000;
}

.about-label {
  /* align-self: center; */
  font-size: 1.6rem;
  color: #f93b1d;
  font-weight: 700;
}

.hidden {
  display: none;
}

.img-button {
  display: inline-block;
  background-color: #0e80bf;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
}

#imgBox {
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
}

.a-icon {
  color: #898989;
  width: 1.2rem;
}

.aside-about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* move to global css file */
.invalid-input {
  border: 1px solid rgb(211 36 36) !important;
}

.valid-input {
  border: 1px solid rgb(66 209 128) !important;
}
