@font-face {
  font-family: "HelveticaNeue";
  src: url("./fonts/HelveticaNeue.ttc");
  src: url("../fonts/HelveticaNeue-01.ttf");
  src: url("../fonts/HelveticaNeue-Bold-02.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: url(../imgs/shutterstock_2189773743\ 1.png);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  font-family: "HelveticaNeue", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 180rem;
}
.logo {
  width: 22rem;
  padding-top: 2rem;
}
.line {
  border-bottom: 1px solid #1a1a1a;
  padding-top: 2rem;
}
.main-container {
  display: flex;
  justify-content: center;
  padding-top: 42vh;
  position: relative;
}
.btn {
  /* display: inline-block; */
  font-size: 1.8rem;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  background-color: #1a1a1a;
  padding: 2rem 12rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  z-index: 1;
  text-decoration: none;
}

.second-logo {
  position: absolute;
  /* right: 20rem; */
  top: 38vh;
  width: 30rem;
  right: 30vw;
}
